body{
    background: #007fc7;
}

#container{
    background: #fff;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
}

p{
    width: 400px;
}

.relative{
    border: 1px solid red;
    /*position: relative; top: 20px; left: 80px;
    top, rigth, bottom e left*/
}

.absolute{
    /*position: absolute;
    border: 1px solid red;
    top, rigth, bottom e left*/
}

.fixed{
    position: fixed;
    border: 1px solid red;
    background: #f2f2f2; top: 0px; right: 0px;
    margin: 0px;
    /*top, right, bottom e left*/
}